<ol class="items-list">
  <ul class="item">
    <li class="item flexrow grid grid-12col">
      <div class="grid-span-2"> <h2>Skill 1</h2> </div>
      <div class="grid-span-10"> <h3><input type="text" name="data.skills.skillone" value="{{data.skills.skillone}}"/> </h3></div>
    </li>
    <li class="item flexrow grid grid-12col">
      <div class="grid-span-2"> <h2>Skill 2</h2> </div>
      <div class="grid-span-10"> <h3><input type="text" name="data.skills.skilltwo" value="{{data.skills.skilltwo}}"/> </h3></div>
    </li>
    <li class="item flexrow grid grid-12col">
      <div class="grid-span-2"> <h2>Skill 3</h2> </div>
      <div class="grid-span-10"> <h3><input type="text" name="data.skills.skillthree" value="{{data.skills.skillthree}}"/></h3> </div>
    </li>
  </ul>
</ol>
