<ol class="items-list">
  <ul class="item">
    <li class="item flexrow grid grid-12col">
      <div class="grid-span-2"> <h2> Level 1</h2> </div>
      <div style="text-align: center;" class="item-name grid-span-1"> <h2><input type="Number" name="data.levelone.value" value="{{data.levelone.value}}" placeholder="0" /></h2></div>
      <div class="grid-span-9"> <h3><input type="text" name="data.levelone.obsession" value="{{data.levelone.obsession}}" placeholder="Fairly easy to do" /> </h3></div>
    </li>
    <li class="item flexrow grid grid-12col">
      <div class="grid-span-2"> <h2> Level 2</h2> </div>
      <div style="text-align: center;" class="item-name grid-span-1"> <h2><input type="Number" name="data.leveltwo.value" value="{{data.leveltwo.value}}" placeholder="0" /></h2> </div>
      <div class="grid-span-9"> <h3><input type="text" name="data.leveltwo.obsession" value="{{data.leveltwo.obsession}}" placeholder="Quite difficult to do" /></h3> </div>
    </li>
    <li class="item flexrow grid grid-12col">
      <div class="grid-span-2"> <h2> Level 3</h2> </div>
      <div style="text-align: center;" class="item-name grid-span-1"> <h2><input type="Number" name="data.levelthree.value" value="{{data.levelthree.value}}" placeholder="0" /></h2> </div>
      <div class="grid-span-9"> <h3><input type="text" name="data.levelthree.obsession" value="{{data.levelthree.obsession}}" placeholder="Nearly impossible to do" /></h3> </div>
    </li>
  </ul>
</ol>
