<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="systems/everyoneisjohn/assets/profile.png" data-edit="img" title="{{actor.name}}" width="200"/>
    <div class="grid grid-12col">
      <div class="grid-span-8">
        <p><b>Voice</b></p>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      </div>
      <div class="grid-span-4">
        <p><b>Willpower</b></p>
        <h1 class="charname"> <input name="data.willpower.value" type="Number" value="{{data.willpower.value}}" placeholder="Willpower"/> </h1>
      </div>
      <div class="grid-span-12">
        <h1 class="charname"> <button type="button">Bid</button> </h1>
      </div>
    </div>
  </header>

  <section class="grid grid-1col">
    <section class="main grid-span-12">
      <hr>
      {{> "systems/everyoneisjohn/templates/actor/parts/actor-skills.html"}}
      <hr>
      {{> "systems/everyoneisjohn/templates/actor/parts/actor-obsessions.html"}}
    </section>
  </section>
</form>
